what the meaning of channel-mapping-family in opus dec caps

to use opus dec，we need set caps.
there is channel-mapping-family, sometime is 0, sometime is [1, 255].
i wonder what this for?

and the difference between channels and channel-mapping-family

The channels argument is the number of channels, and the mapping_family argument is the channel mapping family, which is used to define the meaning of the channels.  Channel mapping family 0, 1, and 255 are defined in [RFC 7845 section 5.1.1](https://datatracker.ietf.org/doc/html/rfc7845#section-5.1.1), and channel mapping family 2 and 3 are defined in [RFC 8486 section 3](https://datatracker.ietf.org/doc/html/rfc8486#section-3).

Use channel mapping family 0 with 1 or 2 channels for normal mono or stereo, or channel mapping family 1 with 3 to 8 channels for surround mappings.  For ambisonics, use channel mapping family 2 or 3 as described by RFC 8486.  Channel mapping family 255 may be used when the meaning of the channels is not defined, or is defined by some other means.

@mark4o  thank you so much